<!doctype html>

<div id="content" class="content">

{{#if isCoach}}
<h3> My Team's Completed Workouts </h3>

{{#if completedWorkouts}}
	{{#each completedWorkouts}}
		<p> {{name}} completed {{title}} ({{finished}})<br> </p>
	{{/each}}
{{else}}
	No Completed Workouts!
{{/if}}
</div>



{{else}}


<h3> My Completed Workouts </h3>

{{#if completedWorkouts}}
	{{#each completedWorkouts}}
		<p> {{title}} ({{finished}})<br> </p>
	{{/each}}
{{else}}
	No Completed Workouts!
{{/if}}
</div>


{{/if}}



