<!doctype html>

<!-- <a href="workout/pause">
  <button type="button" class="btn btn-danger btn">
    <span class="glyphicon glyphicon-pause glyphicons-lg"></span> Pause
  </button>
</a> -->
<center><h2> Assign Workout </h2></center>
<!-- Select a Workout -->
Select a Workout to Assign for your team:<hr>
{{#if workouts}}
  {{#if players}}
    <form class="form" role="form" method="post" action="/assignWorkout">
      <input type="hidden" id="tid" name="tid" value="{{tid}}">
      <select name='wid' class="form-control">
        {{#each workouts}}
          <option value='{{_id}}'>{{title}}</option>"
        {{/each}}
      </select>
      <button type="submit" id="assign" class="btn btn-primary">Assign Workouts</button>
    </form>
  {{else}}
    No Players!
    <a href="">
      <button type="button" class="btn btn-danger">Check for Player Requests</button>
    </a>
  {{/if}}
{{else}}
  <h3>No Workouts!</h3>
  <a href="/startWorkoutCreation">
    <button type="button" class="btn btn-danger">Create Workout</button>
  </a>
{{/if}}
