<!doctype html>

<!-- HOME DISPLAY -->

<div id="selectW" class="swiper-container selectW-img">
  <div class="selectHeader">
    <h4> Select a Workout: </h4>
  </div>
    <!-- SWIPER WRAPPER -->
  <div class="swiper-wrapper">

    {{#each userWorkouts}}
      <!-- SLIDE -->
      <div class="swiper-slide"> 
        <!-- FORM FOR SINGLE EXERCISE -->
        <div class="workoutSlide">
          <div>
          <h4>{{title}}</h4>
          <hr />
          <h4>Workout Summary:</h4>
            {{#each exercises}}
              <p>{{name}}</p>
            {{/each}}
          </div>
        </div>
        <div class="pull-right">
          <a href="/goWorkout{{_id}}" id="workoutLinks" class="btn btn-primary">
            <img src="img/goworkout-icon.png" alt="Start Workout" class="img-circle" height="50">
          </a>
        </div>
        <!-- END OF SLIDE -->
      </div> 
    {{/each}}

    {{#unless userWorkouts}}
      <div class="swiper-slide"> 
        <div class="workoutSlide">
          <h4>No Pending Workouts</h4>
          <hr>
          <button type="button" class="btn btn-default btn-block">Create a Workout!</button>
          <br />
          <button type="button" class="btn btn-default btn-block">Go to workouts</button>
        </div>
      </div> 
    {{/unless}}

  </div>
  <div class="pagination"></div>
</div>



  
  <div class="panel panel-default">
    <div class="panel-heading"> 
      To-Do List
    </div>
   
    <table class="table">
      {{#unless currentTasks}}
      <tr>
        <td><center> No Current Tasks! </center></td>
      </tr>
      {{/unless}}
      {{#each currentTasks}}
      <tr id="workoutLinks" class="btn">
        <td id="date"> {{datetime}} </td>
        <td id="title"> {{title}} </td>
      </tr>
      {{/each}}
    </table>
  </div>


<!--   <form>
    <input data-type="search" id="filterControlgroup-input">
</form>
<div data-role="controlgroup" data-filter="true" data-input="#filterControlgroup-input">
    <a href="#" class="ui-btn ui-btn-a ui-shadow ui-corner-all">Button 1</a>
    <a href="#" class="ui-btn ui-shadow ui-corner-all">Button 2</a>
    <a href="#" class="ui-btn ui-shadow ui-corner-all" data-filtertext="some text">Button 3</a>
    <a href="#" class="ui-btn ui-shadow ui-corner-all">Button 4</a>
    <a href="#" class="ui-btn ui-shadow ui-corner-all">Button 5</a>
</div> -->
