<!doctype html>

<!-- HOME DISPLAY -->

{{#if test}}
<div id="selectW" class="swiper-container">
    <!-- SWIPER WRAPPER -->
  <div class="swiper-wrapper">
      {{#each userWorkouts}}
      <!-- SLIDE -->
      <div class="swiper-slide"> 
        <!-- FORM FOR SINGLE EXERCISE -->
        <h3>Workout Title: {{title}}</h3>
        <br />
        <h4>Exercise Summary:</h4>
          {{#each userWorkouts.exercises}}
            <p>{{exercise}}</p>
          {{/each}}
        <div class="pull-right">
          <a href="/goWorkout0" id="beginWorkoutBtn_grid" class="btn btn-primary">
            <img src="img/goworkout-icon.png" alt="Start Workout" class="img-circle" height="50">
          </a>
        </div>
      </div> 
      <!-- END OF SLIDE -->
      {{/each}}
  </div>
  <div class="pagination"></div>
</div>

<!-- TASK LIST -->
  <div class="panel panel-default">
    <div class="panel-heading"> 
      To-Do List
    </div>
   
    <table class="table">
      {{#unless currentTasks}}
      <tr>
        <td><center> No Current Tasks! </center></td>
      </tr>
      {{/unless}}
      {{#each currentTasks}}
      <tr class="btn">
        <td id="date"> {{datetime}} </td>
        <td id="title"> {{title}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 // ga('create', 'UA-48665647-1', {'cookieDomain': 'none' });
 ga('create', 'UA-48665647-1', 'teamworkoutapp.herokuapp.com');
  ga('send', 'pageview');

</script>
{{else}}



  <div class="row">
  <div class="col-xs-6">
    <a href="" id="beginWorkoutBtn" class="btn btn-primary">
      <img src="img/goworkout-icon.png" alt="Start Workout" class="img-circle">
      <h4>Start Workout</h4>
    </a>
  </div>
  <div class="col-xs-6">
    <div id="selectWorkout" class="panel panel-default">
      <div class="panel-heading"> 
        Select a Workout
      </div>
      <div class="table-responsive">
        <table class="table">
          {{#unless userWorkouts}}
            <tr>
              <td> You don't have any Workouts yet. </td>
            </tr>
          {{/unless}}
          {{#each userWorkouts}}
            <tr id="workout">
        <a href="/goWorkout{{_id}}" id="{{_id}}" > 

<p> {{title}}
             <!--  <td id="{{title}}" type="button" class="btn"> {{title}} </td> --> </p>
                            </a>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading"> 
      To-Do List
    </div>
   
    <table class="table">
      {{#unless currentTasks}}
      <tr>
        <td><center> No Current Tasks! </center></td>
      </tr>
      {{/unless}}
      {{#each currentTasks}}
      <tr id="workoutLinks" class="btn">
        <td id="date"> {{datetime}} </td>
        <td id="title"> {{title}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 // ga('create', 'UA-48665647-1', {'cookieDomain': 'none' });
  ga('create', 'UA-48665647-1', 'teamworkoutapp.herokuapp.com');
  ga('send', 'pageview');

</script>
{{/if}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 // ga('create', 'UA-48665647-1', {'cookieDomain': 'none' });
  ga('create', 'UA-48665647-1', 'teamworkoutapp.herokuapp.com');
  ga('send', 'pageview');

</script>

