<!doctype html>

<h2> Messages </h2>

{{#if messages}}

	{{#each messages}}
		<p>
		{{fromid}} to {{toid}} ({{datetime}}):<br>
		{{text}}<br>



		        <form class="form-signin" role="form" method="get" action="/messages/create">
		          
		          <input type="text" class="form-control" placeholder="Message..." name="text" required autofocus>
		          <input type = "hidden" name="toid" value= {{fromid}}>
		          <input type = "hidden" name = "fromid" value = {{toid}}>

		          
		          <button class="btn btn-lg btn-primary btn-block" type="submit">Reply</button>
		        </form>
		</p>
	{{/each}}


{{else}}
No Messages!
{{/if}}



