<!doctype html>
<!-- Handlebars.registerHelper('formatDate', function(datetime, format) {
  if (moment) {
    f = DateFormats[format];
    return moment(datetime).format(f);
  }
  else {
    return datetime;
  }
}); -->

<h4> Messages </h4>
<p class="caption">Create a New Message: </p>

	<form class="form-signin" role="form" method="get" action="/messages/create">
To: 
		<select name = "to">
			{{#if friends}} 
			{{#each friends}}
			
			<option value = '{"toid": "{{id}}", "toName": "{{firstName}}" }'> {{firstName}}</option>
			<!-- <option value = "{'toid': '{{id}}', 'toName': '{{firstName}}' }"> {{firstName}}</option> -->
			<!-- <input type = "hidden" name = "toName" value = {{firstName}}> -->

			<!-- <option value = {{aid}}> {{name}}</option> -->
			{{/each}}
			{{/if}}
		</select>
		{{#else}}
		<input type = "text" class="form-control" name="toid2" placeholder="To: (E-mail address)" >
		{{/else}}


		<input type="text" class="form-control" placeholder="Message..." name="text" required autofocus>

		<input type = "hidden" name = "fromid" value = {{userId}}>


		<button class="btn  btn-primary btn-block" type="submit">Send</button>
	</form>

{{#if messages}}
<h4>
	Previous Conversations
</h4>
{{#each messages}}
<p>
	{{fromName}} to {{toName}} ({{created}}):
<!-- {{fromid/firstName}}
	{{#with fromid}}
	{{firstName}} {{lastName}}
	{{/with}}
 -->
	<br>
	{{text}}<br>



	<form class="form-signin" role="form" method="get" action="/messages/create2">

		<input type="text" class="form-control" placeholder="Message..." name="text" required autofocus>
		<input type = "hidden" name="toid" value= {{fromid}}>
		<input type = "hidden" name="toName" value= {{fromName}}>
		<input type = "hidden" name="fromName" value= {{toName}}>
		<input type = "hidden" name = "fromid" value = {{toid}}>


		<button class="btn  btn-primary btn-block" type="submit">Reply</button>
	</form>
</p>
{{/each}}

{{else}}
No Messages!
{{/if}}
