<form class="form" role="form" method="get" action="/settings">
    <h3 class="form-signin-heading">Find Your Team</h3>
    <p class="caption">Enter in your coach's email</p>
    <input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>
    <button class="btn btn-lg btn-primary" type="submit">Find Team</button>
 </form>

{{#if msg}}
    <h5>{{msg}}</h5>
{{/if}}
{{#if teams}}
    <h3>Select a Team</h3>
    {{#each teams}}
        <form class="form" role="form" method="post" action="/inviteTeam">
            <input type="hidden" name="tid" value="{{tid}}">
            <button class="btn btn-lg btn-default" type="submit">{{name}}</button>
        </form>
    {{/each}}
{{/if}}

{{#if requests}}
    <h3>Respond to Requests</h3>
    {{#each requests}}
        <form class="form" role="form" method="post" action="/respondTeam">
            <input type="hidden" name="tid" value="{{tid}}">
            <input type="hidden" name="aid" value="{{aid}}">
            <button class="btn btn-lg btn-default" type="submit">Team: {{tid}}, Name:{{aid}}</button>
        </form>
    {{/each}}
{{/if}}
