<!doctype html>

<h2> Team Page </h2>

<h3> Create a Team </h3>
<form class="form" role="form" method="post" action="/createTeam">
	<input class="form-control" placeholder="Team Name" name="name" required autofocus>
	<input class="form-control" placeholder="Sport" name="sport" required autofocus>

	<button class="btn btn-default" type="submit"> Create</button>

</form>






{{#if players}}
<h3>Remove a Player</h3>

<form class="form" role="form" method="post" action="/removeAthlete">

 <select name = "teamAthleteId"> {{_id}}
    {{#each players}}

   
			
			<option value = "{{_id}}"> {{_id}}</option> PLYARE
			{{/each}}
			
		
   
    </select>

	<button class="btn btn-default" type="submit"> Remove</button>

</form>
{{/if}}

{{#if teamRequests}}
<h4>Respond to Requests</h4>
<!-- <form class="form" role="form" method="post" action="/respondTeamAll">
     <button class="btn btn-primary" type="submit">Accept All Requests</button>
</form> -->

<p class="caption"> Select Players to Accept </p>

<form class="form" role="form" method="post" action="/respondTeam">
    <select name = "requestId"> {{_id}}
    {{#each teamRequests}}

   
			
			<option value = "{{_id}}"> {{_id}}</option>
			{{/each}}
			
		
   
    </select>

<select name = "response" >
	<option value = "accept"> Accept
		<option value = "deny"> Deny
</select>

    <button class="btn btn-primary" type="submit">Accept</button>
</form>






<!-- <form class="form" role="form" method="post" action="/respondTeam">
    {{#each teamRequests}}

    <input type = "checkbox" name="requestId" value="{{_id}}"> {{aid}}

     
<br>
    {{/each}}
    <button class="btn btn-primary" type="submit">Accept</button>
</form> -->


{{/if}}
