<!doctype html>

<h2> Team Page </h2>

<h3> Create a Team </h3>
<form class="form" role="form" method="post" action="/createTeam">
	<input class="form-control" placeholder="Team Name" name="name" required autofocus>
	<input class="form-control" placeholder="Sport" name="sport" required autofocus>

	<button class="btn btn-default" type="submit"> Create</button>

</form>






{{#if players}}
<h3>Remove a Player</h3>

<form class="form" role="form" method="post" action="/removeAthlete">
	{{#each players}}
	<option value = {{aid}}> {{name}}</option>
	{{/each}}

	<button class="btn btn-default" type="submit"> Remove</button>

</form>
{{/if}}

{{#if teamRequests}}
<h4>Respond to Requests</h4>
<form class="form" role="form" method="post" action="/respondTeamAll">
     <button class="btn btn-primary" type="submit">Accept All Requests</button>
</form>
{{#each teamRequests}}
<p class="caption"> OR Select Players to Accept </p>
<form class="form" role="form" method="post" action="/respondTeam">
    {{#each requests}}

    <input type = "checkbox" name="aid" value="{{aid}}"> 
    <input type="hidden" name="tid" value="{{tid}}">
    <input type="hidden" name="_id" value="{{_id}}">

    {{aid}} 
<br>
    {{/each}}
    <button class="btn btn-primary" type="submit">Accept</button>
</form>
{{/each}}

{{/if}}