<!doctype html>

<a href="/startWorkoutCreation">
  <button type="button" class="btn btn-default btn-lg btn-block">Create Workout</button>
</a>

{{#if isCoach}}
  <a href="/assign">
    <button type="button" class="btn btn-default btn-lg btn-block">Assign Workout</button>
  </a>
{{/if}}


<div id="selectWorkout" class="panel panel-default">
    {{#if createdWorkouts}}
      <a href="/goWorkout{{createdWorkouts.0._id}}">
        <div id="startWorkout" class="btn btn-primary btn-block btn-large">
          <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
        </div>
      </a>
      <div class="panel-heading"> 
        Created Workouts
      </div>
      <table class="table">
        {{#each createdWorkouts}}
          <tr id="workout"> <!-- can't be an id for multiple items -->
            <td id="{{_id}}"><a href="/goWorkout{{_id}}">{{title}}</a></td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <a href="#">
        <div id="startWorkout" class="btn btn-primary btn-block btn-large disabled">
          <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
        </div>
      </a>
      <div class="panel-heading"> 
        No Created Workouts
      </div>
    {{/if}}
    {{#if pastWorkouts}}
      <div class="panel-heading"> 
        Recently Completed Workouts
      </div>
      <table class="table">
        {{#each pastWorkouts}}
          <tr id="workout"> <!-- can't be an id for multiple items -->
            <td id="{{_id}}"><a href="/workoutSummary{{_id}}">{{title}} on {{finished}}</a></td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <div class="panel-heading"> 
        No Past Workouts
      </div>    
    {{/if}}
    {{#unless isCoach}}
      {{#if assignedWorkouts}}
        <div class="panel-heading"> 
          Assigned Workouts
        </div>
        <table class="table">
          {{#each assignedWorkouts}}
            <tr id="workout"> <!-- can't be an id for multiple items -->
              <td id="{{_id}}"><a href="/goWorkout{{_id}}">{{name}} on {{assigned}}</a></td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <div class="panel-heading"> 
          No Assigned Workouts
        </div>
      {{/if}}
    {{/unless}}
</div>
